* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libre Baskerville;
  }
  
  
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(3, 7, 61);
    position: relative;
    z-index: 1;
  }
  
  #logo {
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
  }
  
  .header a:hover{
    text-shadow: rgb(167, 183, 108) 5px 2px 8px;
  }
  
  .navbar {
    display: flex;
    gap: 2.7rem;
    padding-right: 3rem;
  }
  
  .nav-list {
    list-style: none;
  }
  
  .nav-list a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  .nav-list a:hover, a:active{
    text-shadow: rgb(167, 183, 108) 5px 2px 8px;
    border-bottom: 2px solid white;
  }
  
  /* .nav-list a:active{
    border-bottom: 2px solid white;
  } */
  
  .menu-icon {
    display: none;
  }
  
  .menu-icon i {
    font-size: 2rem;
    color: white;
  }
  
  /* Main Section Css */
  .main {
      width: 100%;
      background-color: white;
      background-image: url(/Assets/Images/contact.jpg);
      background-size: 100vw;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 65% 35%;
  
  }
  
  .main .main-heading {
      width: 100%;
      text-align: center;
      color: white;
  }
  
  .main .main-heading h2 {
      font-family: caveat;
      font-size: 60px;
      font-weight: 700;
      text-align: start;
      position: relative;
      padding: 90px 0px 40px 290px;
  }
  
  .main .main-heading .main-head {
      font-size: 45px;
      font-weight: 500;
      text-align: start;
      font-family: caveat;
      padding: 0px 0px 50px 120px;
  }
  
  .main .main-heading .main-sub {
      font-size: 30px;
      font-weight: 400;
      text-align: start;
      font-family: caveat;
      padding: 0px 0px 10px 40px;
      width: 50%;
  }
  
  
  .main-form .form {
      width: 100%;
      color: rgb(77, 75, 75);
      border-radius: 2px;
      text-align: center;
      padding-top: 120px;
  }
  
  .main-form .form .form-elements {
      width: 80%;
      padding: 50px 70px 50px 70px;
      position: relative;
      background-color: white;
      font-size: 30px;
      font-family: Libre Baskerville;
      text-align: center;
      margin-bottom: 30px;
      box-shadow: rgb(90, 84, 84) 1px 0 10px;
  }
  
  #name{
      border-style: none;
      padding-top: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
      box-shadow: rgb(90, 84, 84) 1px 0 10px;
  }
  
  #email{
      border-style: none;
      padding-top: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
      box-shadow: rgb(90, 84, 84) 1px 0 10px;
  }
  
  #phone{
      border-style: none;
      padding-top: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
      box-shadow: rgb(90, 84, 84) 1px 0 10px;
  }
  
  textarea{
      width: 300px;
      height: 100px;
      border-style: 1px solid black;
      box-shadow: rgb(90, 84, 84) 1px 0 10px;
  }
  
  
  #submit{
      border: 2px solid black;
      box-shadow: rgb(90, 84, 84) 1px 0 10px;
      padding: 5px 10px 5px 10px;
      font-weight: 800;
      font-size: 20px;
      margin-top: 50px;
  }
  

  
  
  
  /* footer elements to be  stytled under this */ 
  .footer-elements {
      background-color: rgb(3, 7, 61);
      color: white;
      width: 100%;
      text-align: center;
  }
  
  .footer-element-1 {
      display: inline-flex;
      text-align: center;
      position: relative;
  }
  
  .footer .footer-elements .footer-icon-list {
      list-style-type: none;
      text-align: center;
      padding: 2px 10px;
      margin: 40px 30px;
  }
  
  .footer-icon-list a {
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      font-weight: 200px;
      font-family: Libre Baskerville;
  }
  
  .footer-icon-list a:hover{
      text-shadow: rgb(167, 183, 108) 5px 2px 8px;
    }
  
  .footer-element-2 {
      width: 100%;
      text-align: center;
      color: white;
  }
  
  .footer-element-2 h3{
      padding-top: 1rem;
      font-size: 1.2rem;
      color: white;
      font-weight: 200;
    }
  
  .footer-matter p {
      padding: 30px 100px;
  } 